
{% extends 'base-page.html' %}

{% block javascript %}
  <script src="/static/js/create-calendar.js"></script>
  <script src="/static/js/dashboard-page.js"></script>
{% endblock %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}

  <div class="page-header">
    <h1 class="page-title">Hello, {{ username }}!</h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      {% for calendar in calendar_query %}
        {% include 'dashboard-page/calendar-card.html' %}
      {% endfor %}
    </div>
  </div>

  <form method="post">
    <input id="calendar-name-input" type="text" name="calendar-name">
    <button type="submit" id="calendar-insert-submit-button">
      Insert Calendar
    </button>
  </form>
{% endblock %}
