
{% extends 'base-page.html' %}

{% block javascript %}
{% endblock %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  <h1>Here is the dashboard!</h1>
  <h2>Here is your email: {{ email }}</h2>
  <h2>Here is your username: {{ username }}</h2>

  <h1>Here are your calendars</h1>
  {% for calendar in calendar_query %}
    <div>
      <a href="/calendar/{{username}}/{{calendar.name}}">{{ calendar.name }}</a>
    </div>
  {% endfor %}

  <form method="post">
    <input id="calendar-name-input" type="text" name="calendar-name">
    <button type="submit" id="calendar-insert-submit-button">
      Insert Calendar
    </button>
  </form>
{% endblock %}
