
$add-a-row-height: 20px;

#calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-data {
    text-align: center;
}

.calendar-cell {

}

.add-a-row-row {
    text-align: center;
    height: $add-a-row-height;
}

.add-a-row-div {
    width: 100%;
    height: $add-a-row-height;
    background-color: transparent;
}

.add-row-hidden-row, .app-row-hidden-data {
    margin: 0px;
}

#add-row-end {
    bottom: 100%;
}

.calendar-clickable:hover {
    transition: 0.5s;
    background-color: rgba(200, 0, 0, 0.75);
}

.calendar-clickable {
    transition: 0.5s;
    cursor: pointer;
}
