body {
    //font-family: 'Hind', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.error {
    color: red;
}

.container-fluid div {

}

tr {
    height: 50px;
}

.page-header {
    margin: 5%;
}

.page-title {
    text-align: center;
}
