
// basing this off the code from this link:
// http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3


$main-color: rgb(128, 0, 0);
$active-background-color: rgb(200, 0, 0);
$text-color: white;


.navbar-default {

    background-color: blue;
    // border-color: ;

    > a {
        color: $text-color;

        &:hover {
            color: $text-color;
        }

    } // end a

    .navbar-brand {

    } // end navbar-brand

    .navbar-nav {

        background-color: $main-color;

        .active {


            > a, a:focus, a:hover {
                color: silver; // color of active link text
            } // end a

        } // end active

        > li {

            //background-color: $active-background-color;

            > a, a:hover, a:focus {

                color: white; // default color

            } // end a

        } // end li

    } // end navbar-nav

} // end navbar-default
