

<div class="calendar-table-div">
  <table id="calendar-table" class="table table-bordered">

    <!-- table column names -->
    <thead>
      <tr class="calendar-row">
        <th class="calendar-data">
          <span>Date</span>
        </th>
        {% for col_name in calendar.column_names %}
          <th class="calendar-data">
            <span>{{ col_name }}</span>
          </th>
        {% endfor %}
      </tr>
    </thead>

    <!-- table cells -->
    <tbody>
      {% for row_key in calendar.row_keys %}

        <tr id="{{ row_key.urlsafe() }}">

          <td id="{{ row_key.get().date_cell.urlsafe() }}"
              class="calendar-cell date-cell">
            {{ row_key.get().date_cell.get().date.strftime(date_format) }}
          </td>

          {% for cell_key in row_key.get().cell_keys %}
            <td id="{{cell_key.urlsafe()}}"
                class="{% if user_owns_calendar %}calendar-clickable {% endif %}calendar-cell">

              <!-- hidden divs to make editting more pleasant -->
              <div class="hidden-markdown hidden">{{ cell_key.get().text }}</div>
              {% if user_owns_calendar %}
                <div class="hidden-markdown-edits hidden">{{ cell_key.get().text }}</div>
              {% endif %}

              <!-- the visible markdown -->
              <div class="visible-text"></div>
            </td>
          {% endfor %}

          <td class="delete-row-column">
            <button class="calendar-row-delete-button btn btn-danger">
              <span class="hidden row-key">{{ row_key.urlsafe() }}</span>
              Delete
            </button>
          </td>
        </tr>
      {% endfor %}

    </tbody>

  </table>

</div>
