
{% extends 'base-page.html' %}

{% block javascript %}
  <script src="/static/js/markdown.js"></script>
  <script src="/static/js/calendar-page.js"></script>
  <script src="/static/js/edit-cell-modal.js"></script>
{% endblock %}


{% block css %}
  <link rel="stylesheet" href="/static/css/calendar-page.css">
{% endblock %}


{% block title %}
  Calendar
{% endblock %}


{% block content %}

  <div class="row text-center">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h1>Calendar Page</h1>
    </div>
  </div>

  <p>
    A user can edit the individual cells and then generate HTML from it. They
    are shown this html and prompted if they would like to replace their current
    like version. This eliminates the need for either nasty editing queries or
    100's of queries for each request for a page.
  </p>

  <button type="button" class="btn" data-toggle="modal" data-target="#edit-cell-modal">
    Test Markdown
  </button>

  {% include 'calendar-page/calendar-component.html' %}
  {% include 'calendar-page/edit-cell-modal.html' %}

{% endblock %}
