
{% extends 'base-page.html' %}

{% block javascript %}
  <script src="/vendor/js/Markdown.Converter.js"></script>
  <script src="/vendor/js/Markdown.Sanitizer.js"></script>
  <script src="/static/js/markdown.js"></script>
  <script src="/static/js/edit-cell-modal.js"></script>
  <script src="/static/js/calendar-page.js"></script>
{% endblock %}


{% block css %}
  <link rel="stylesheet" href="/static/css/calendar-page.css">
  <link rel="stylesheet" href="/static/css/calendar-component.css">
  <link rel="stylesheet" href="/static/css/edit-cell-component.css">
{% endblock %}


{% block title %}
  {{ calendar.name }}
{% endblock %}


{% block content %}

  <!-- Modals -->
  {% include 'calendar-page/edit-cell-modal.html' %}

  <!-- The page header -->
  <div class="row text-center">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h1>{{ calendar.name }}</h1>
    </div>
  </div>

  <!-- The calendar itself -->
  <div id="calendar-component-div" class="row">
    <div class="container-fluid">
      <div class="col-md-6 col-md-offset-3">
        {% include 'calendar-page/calendar-component.html' %}
      </div>
    </div>
  </div>



{% endblock %}
