
<div id="edit-cell-modal" class="modal fade large" role="dialog">
  <input type="text" class="hidden" id="clicked-modal-key">
  <div id="edit-cell-modal-dialog" class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Modal header -->
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Cell</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body container">
        <div class="row">

          <div class="col-md-6">
            <textarea id="markdown-input"></textarea>
          </div>

          <div id="markdown-preview" class="col-md-6">

          </div>

        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="reset-input-button" class="btn btn-default">
          Reset
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="edit-modal-submit-button">
          Save changes
        </button>
      </div>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div> <!-- modal -->
