{% extends "templates/base.html.jinja" %}
{% block header %}
<script src="/static/js/rosefire.js"></script>
<script src="/static/js/login.js"></script>
{% endblock %}
{% block content %}
<div style="margin: 30px">
  {% if user_info is defined %}
	  <p>
	    You are logged in as {{ user_info.name }}.
	  </p>
	  <ul>
		  <li><b>username:</b> {{ user_info.username }}</li>
		  <li><b>email:</b> {{ user_info.email }}</li>
		  <li><b>role:</b> {{ user_info.role }}</li>
	  </ul>
	  <div>
	    <a href="/logout" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
	      Logout
	    </a>
	  </div>
  {% else %}
	  <p>
	    You are not logged in.
	  </p>
	  <div>
	    <button id="login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
		  Login
		</button>
	  </div>
  {% endif %}
</div>
{% endblock %}
