
{% set left_nav_links = [
  ('Home', '/'),
] %}

{% set right_nav_links = [
  ('Logout', logout_url),
] %}

<div class="navbar">

  <img src="/static/images/Rose-R.png"
       class="navbar-brand">

  <div class="navbar-header">
    <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#main-nav-collapse"
            aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse"
       id="main-nav-collapse">
    <ul class="nav navbar-nav">
      {% for name, link in left_nav_links %}
        <li class="{% if path == link  %}active{% else %}default{% endif %}">
          <a href="{{ link }}">
            {{ name }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% for name, link in right_nav_links %}
        <li class="default">
          <a href="{{ link }}">
            {{ name }}
          </a>
        </li>
      {% endfor %}
      </li>
    </ul>

  </div>

</div>
